* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background-image: linear-gradient(
    to right,
    #baffc9,
    #ffffba,
    #ffb3ba,
    #bae1ff
  );
  background-size: cover;
}

.header {
  background-image: url("http://magnolias.m.a.pic.centerblog.net/570d2560.png");
}

#logo {
  float: left;
  padding: 1em;
}
.clearfix {
  overflow: auto;
}

#title {
  padding: 8%;
}

.header h1 {
  font-family: "Fredericka the Great";
  font-weight: lighter;
  font-size: 10em;
  padding-left: 2.5em;
}

.topnav {
  overflow: hidden;
  background-color: turquoise;
  border-radius: 15px;
  font-family: lobster, cursive;
  font-size: 1.2em;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 46px;
  text-decoration: none;
}
a:nth-child(1) {
  background: #ffb3f2;
}
a:nth-child(2) {
  background: #ccb4ff;
}
a:nth-child(3) {
  background: #b6cdff;
}
a:nth-child(4) {
  background: #b4ffed;
}
a:nth-child(5) {
  background: #b7f2b8;
}
#search {
  padding: 15px;
}
.topnav p {
  display: block;
  float: right;
  padding-right: 14px;
}
.topnav a:hover {
  background-color: #ffff77;
  color: black;
  transform: scale(1.2);
}

button {
  width: 100px;
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f5a1d1),
    color-stop(1, #fa52b7)
  );
  background: -moz-linear-gradient(top, #f5a1d1 5%, #fa52b7 100%);
  background: -webkit-linear-gradient(top, #f5a1d1 5%, #fa52b7 100%);
  background: -o-linear-gradient(top, #f5a1d1 5%, #fa52b7 100%);
  background: -ms-linear-gradient(top, #f5a1d1 5%, #fa52b7 100%);
  background: linear-gradient(to bottom, #f5a1d1 5%, #fa52b7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#f5a1d1",
      endColorstr="#fa52b7",
      GradientType=0
    );
  background-color: #f5a1d1;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}
button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #fa52b7),
    color-stop(1, #f5a1d1)
  );
  background: -moz-linear-gradient(top, #fa52b7 5%, #f5a1d1 100%);
  background: -webkit-linear-gradient(top, #fa52b7 5%, #f5a1d1 100%);
  background: -o-linear-gradient(top, #fa52b7 5%, #f5a1d1 100%);
  background: -ms-linear-gradient(top, #fa52b7 5%, #f5a1d1 100%);
  background: linear-gradient(to bottom, #fa52b7 5%, #f5a1d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#fa52b7",
      endColorstr="#f5a1d1",
      GradientType=0
    );
  background-color: #fa52b7;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.fakeimage img {
  max-height: 450px;
  min-width: auto;
}

/* try to change control carousel */
.carousel-control {
  background-color: black;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  
}

.fakeimg {
  height: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.card-img-overlay {
  color: black;
}

.card-img-overlay h2 {
  font-family: lobster;
  font-size: 3em;
}

@media screen and (max-width: 1100px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 1102px) {
  .topnav p {
    display: none;
  }
}

@media (max-width: 1022px) {
  .header h1 {
    display: none;
  }
}

@media (max-width: 1022px) {
  .header p {
    display: none;
  }
}
